# Positional and Keyword Arguments

In [4]:
def my_name(first_name, last_name):

    print(f"My name is {first_name} {last_name}")

In [5]:
my_name("sedat", "aslan")

My name is sedat aslan

In [6]:
my_name("aslan", "sedat")

My name is aslan sedat

In [7]:
my_name(last_name = "aslan", first_name = "sedat")

My name is sedat aslan

In [8]:
my_name("sedat")

TypeError: my_name() missing 1 required positional argument: 'last_name'

In [10]:
my_name("sedat","")

My name is sedat

In [11]:
def your_name(first_name, last_name = "demir"):

    print(f"My name is {first_name} {last_name}")

In [12]:
your_name("sedat","aslan")

My name is sedat aslan

In [13]:
your_name("sedat")

My name is sedat demir

In [14]:
def your_name2(first_name, second_name = "ali", last_name):

    print(f"My name is {first_name} {second_name} {last_name}")

SyntaxError: non-default argument follows default argument (509720015.py, line 1)

In [15]:
def your_name2(first_name, last_name, second_name = "ali"):

    print(f"My name is {first_name} {second_name} {last_name}")

In [16]:
your_name2("ece", "cesur", "köseoğlu")

My name is ece köseoğlu cesur

In [17]:
your_name2("ece", "köseoğlu", "cesur")

My name is ece cesur köseoğlu

In [18]:
a = "Adana"
b = "I"
c = "\U00002764"

In [19]:
"\U00002764"

'❤'

In [20]:
def love(pos1,pos2,pos3):

    print(f"{pos2} {pos3} {pos1}")

In [21]:
love(a,b,c)

I ❤ Adana

In [22]:
love(b,c,a)

❤ Adana I

In [23]:
list(enumerate("techpro"))

[(0, 't'), (1, 'e'), (2, 'c'), (3, 'h'), (4, 'p'), (5, 'r'), (6, 'o')]

In [24]:
list(enumerate("techpro", 100))

[(100, 't'),
 (101, 'e'),
 (102, 'c'),
 (103, 'h'),
 (104, 'p'),
 (105, 'r'),
 (106, 'o')]

In [25]:
list(enumerate(100,"techpro"))

TypeError: 'str' object cannot be interpreted as an integer

In [27]:
def tek_sayılar(a,b,c,d,e):

    tek_sayılar = []
    for i in a,b,c,d,e:

        if i % 2:
            tek_sayılar.append(i)

    return tek_sayılar

In [28]:
tek_sayılar(10,25,32,4,9)

[25, 9]

In [29]:
tek_sayılar(10,25,32,4)

TypeError: tek_sayılar() missing 1 required positional argument: 'e'

In [30]:
tek_sayılar(10,25,32)

TypeError: tek_sayılar() missing 2 required positional arguments: 'd' and 'e'

# Arbitrary Number of Arguments(* args, **kwargs)

In [31]:
def tek_sayılar2(* sayılar):

    tek_sayılar = []
    for i in sayılar:

        if i % 2:
            tek_sayılar.append(i)

    return tek_sayılar

In [32]:
tek_sayılar2(5,12,63,52,41,12)

[5, 63, 41]

In [33]:
tek_sayılar2()

[]

In [35]:
def tersten_yazdırma(* kelimeler):

    liste = []
    for i in kelimeler:
        liste.append(i[::-1])
    
    return liste

In [37]:
tersten_yazdırma("ersin", "rıdvan","inci", "ece","ey edip adanada pide ye")

['nisre', 'navdır', 'icni', 'ece', 'ey edip adanada pide ye']

In [38]:
tersten_yazdırma("murat")

['tarum']

In [39]:
tersten_yazdırma()

[]

In [40]:
tersten_yazdırma(["ersin", "rıdvan","inci", "ece"])

[['ece', 'inci', 'rıdvan', 'ersin']]

In [41]:
tersten_yazdırma({"key1": 3, "key2": 6} )

TypeError: unhashable type: 'slice'

In [42]:
def tek_kare_çift(* sayılar):

    liste = []
    for i in sayılar:

        if i % 2 == 0:
            liste.append(i)
        else:
            liste.append(i ** 2)

    return liste

In [43]:
tek_kare_çift(10,15,42,11,7,6,3,5,85,92)

[10, 225, 42, 121, 49, 6, 9, 25, 7225, 92]

In [44]:
def tek_kare_çift2(* sayılar):

    return  [i if i % 2 == 0 else i ** 2 for i in sayılar]

In [45]:
tek_kare_çift2(10,15,42,11,7,6,3,5,85,92)

[10, 225, 42, 121, 49, 6, 9, 25, 7225, 92]

# **kwargs

In [47]:
dict_1 = {"name1": "sedat", "name2": "murat", "name3": "selin"}
dict_1

{'name1': 'sedat', 'name2': 'murat', 'name3': 'selin'}

In [48]:
def kwfonksiyonu(** kwargs):

    for i,j in kwargs.items():
        print(f"key:{i}, value: {j}")

In [49]:
kwfonksiyonu(name4 = "ahmet", name5 = "nazım")

key:name4, value: ahmet
key:name5, value: nazım

In [50]:
kwfonksiyonu(name4 = "ahmet", name5 = "nazım",name6 = "emre")

key:name4, value: ahmet
key:name5, value: nazım
key:name6, value: emre

In [51]:
kwfonksiyonu(dict_1)

TypeError: kwfonksiyonu() takes 0 positional arguments but 1 was given

In [52]:
kwfonksiyonu(** dict_1)

key:name1, value: sedat
key:name2, value: murat
key:name3, value: selin

Asiignment - 2 soru 5
5 - Anne, baba ve çocuktan oluşan çekirdek ailenin Süper aile olup olmadığını bulan kodu yazın. isimleri kullanıcıdan isteyin. (Çocuğun ismindeki sessiz harflerin hepsi, anne ve babanın isimlerinde var ise bu aile süper ailedir.(Not: anne ve baba isminden en az bir tane olmalı.). örn1: baba adı = "Halil", anne adı= "Merve", çocuk adı= "Veli" >> Süper aile. ("v" anneden, "l" babadan) örn2: baba adı = "Murat", anne adı= "Songül", çocuk adı= "Mert" >> Süper aile değil. Anneden harf yok.

In [54]:
baba = input("baba ismi")
anne = input("anne ismi")
cocuk = input("cocuk ismi")

sessiz_cocuk = ""

for i in cocuk.lower():
    if i not in "aeıiüuoö":
        sessiz_cocuk += i

if len(set(sessiz_cocuk) & set(baba)) > 0 and len(set(sessiz_cocuk) & set(anne)) > 0 and set(sessiz_cocuk).issubset(set(baba) | set(anne)):
    print("bu aile süper ailedir")
else:
    print("bu aile süper aile değildir.")

bu aile süper aile değildir.

In [ ]:
sessiz_cocuk = ""

for i in cocuk.lower():
    if i not in "aeıiüuoö":
        sessiz_cocuk += i

In [58]:
cocuk = "veli"
aa = set(cocuk) - set("aeıioöuü")

In [59]:
aa

{'l', 'v'}

In [1]:
(lambda x : x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [2]:
list(filter((lambda x : (x[::-1]) == x), ["ece", "sedat", "inci", "ey edip adanada pide ye", "nazan"]))

['ece', 'ey edip adanada pide ye', 'nazan']

In [3]:
import pandas as pd

df = pd.read_csv("adult_eda.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [5]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [7]:
sayılar_listesi = [4,56,84,25,35,14,7,8,24,15]
list(filter(lambda x : x % 2, sayılar_listesi))

[25, 35, 7, 15]

In [1]:
import pyautogui as py

In [2]:
py.write("naber kankam")

In [2]:
3 + 5

8